body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
a.selected {
	border-bottom: 2px solid rgb(252, 88, 23) !important;
	color: rgb(255, 255, 255) !important;
}
a.nav-link:focus {
	color: rgb(255, 255, 255) !important;
	transition: all 0.3s ease-in-out;
}
a.nav-link {
	color: rgba(255, 255, 255, 0.75) !important;
	border: 2px solid transparent;
	transition: all 0.3s ease-in-out;
}
